<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1 align="text-center">Какие технолигии использовались к данной курсовой работе</h1>
<div class="alert alert-primary" role="alert">
    Spring Data – дополнительный удобный механизм для взаимодействия с сущностями базы данных, организации их в репозитории, извлечение данных, изменение и т.д.
</div>
<div class="alert alert-secondary" role="alert">
    Spring Security - это Java/Java EE фреймворк, предоставляющий механизмы построения системы аутентификации и авторизации, а также другие возможности обеспечения безопасности для промышленной разработки приложения;
</div>
<div class="alert alert-success" role="alert">
    Hibernate — библиотека для языка программирования Java, предназначенная для решения задач объектно-реляционного отображения, самая популярная реализация спецификации JPA. Распространяется свободно на условиях GNU Lesser General Public License.
</div>
<div class="alert alert-danger" role="alert">
    Spring MVC – это универсальный фреймворк с открытым исходным кодом для Java-платформы.
</div>
<div class="alert alert-warning" role="alert">
    Spring REST – это архитектурный стиль взаимодействия приложения в сети. Данный фреймворк предоставляет богатый набор инструментов упрощающий разработку REST API: инструменты для маршрутизации запросов, классы-кодеки для преобразования JSON/XML в объекты требуемых типов.
</div>
<div class="alert alert-info" role="alert">
    Spring Framework — универсальный фреймворк с открытым исходным кодом для Java-платформы. Также существует форк для платформы .NET Framework.
</div>

</body>
</html>